{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABOVE THE CLOUD</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="{% static 'sitedjango/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <div class="nav-main">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">ABOVE THE CLOUDS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'main_home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_comment' %}">Write a review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'about_author' %}">About author</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_guests' %}">Our guests</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>    

<div class="border-2">
    <div class="container">
      <h1 style="text-align: center; padding-bottom: 60px;">About me</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-5 d-flex justify-content-center row_border-2">
        <div class="col">
          <center>
            <a href="https://www.instagram.com/kazakhstan_guidekz/" target="_blank">
              <div class="container border-4-cont">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img id="img-carousel" src="{% static 'sitedjango/img/author1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img id="img-carousel" src="{% static 'sitedjango/img/author2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img id="img-carousel" src="{% static 'sitedjango/img/author3.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img id="img-carousel" src="{% static 'sitedjango/img/img-creator.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </a>
          </center>
        </div>
        <div class="col border-2-text">
            <h4 style="font-weight: 300;"><strong style="font-weight: 700;">Greetings to all.</strong> My name is Daulet. I am the founder of ABOVE THE CLOUDS. We have been on the market for more than one year and our company is a national company. At the moment, more than 3,000 satisfied thousands of guests. We will not rest on our laurels, but we will only move forward. After all, every guest of our country should feel all the charm of our traditions and our customs. Our guarantee is the safety and interestingness of our tours.
              See you in our spaces.</h4>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="border_solid"></div>
  </div>

  <center><a style="font-size: 18px; color: black;" class="border-media-link" href="https://www.instagram.com/kazakhstan_guidekz/" target="_blank">If you want to know more about the tour, click here <i class='bx bxs-hand-left' ></i></a></center>
  <p style="padding-bottom: 30px;"></p>
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="footer-text">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-lg-3">
          <div class="col">
            <h3 class="footer-main-text">We are in Kazakhstan</h3>
            <p>Kazakhstan, Almaty</p> 
            <p>Shalapyna 26 street</p> 
            <p>+77776034235</p>  
          </div>
          <div class="col">
            <h3 class="footer-main-text">We are in Dubai</h3>
            <p>UAE. Dubai</p> 
            <p>Silwer tower</p> 
            <p>Al abraj street</p> 
            <p>11 floor</p> 
            <p>+971 52 710 8894</p>
          </div>
          <div class="col">
            <h3 class="footer-main-text">Media and Messanger</h3>
            <div class="footer-link">
              <a class="border-media-link" href="https://www.instagram.com/kazakhstan_guidekz/" target="_blank"><i class='bx bxl-instagram'></i></a>
              <a class="border-media-link" href="https://wa.me/971527108894" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

      <div id="preloader">
        <div class="honeycomb">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
      </div>
  {% block content %}
    {% endblock %}
    <script>


      var navbar = document.querySelector(".navbar");

      window.addEventListener("scroll", function() {
        if (window.scrollY > 0) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      });
    </script>
      <script>
        window.onload = function() {
        let preloader = document.getElementById('preloader');
        preloader.classList.add('hide-preloader');
    }
      </script>
      <script>
        window.onload = function() {
        let preloader = document.getElementById('preloader');
        preloader.classList.add('hide-preloader');
    }
      </script>
      <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>